<section class="vh-100 bg-light d-flex align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10 col-lg-8">
        <div class="card shadow-lg rounded-4 p-4">
          <h3 class="mb-4 text-center fw-bold text-primary">Görev Atama Paneli</h3>

          <form [formGroup]="missionForm" (ngSubmit)="sendMission()">
            <div class="mb-3">
              <label for="schoolLessonId" class="form-label">Ders Seç</label>
              <select formControlName="schoolLessonId" class="form-select">
                <option selected disabled value="">Ders Seçin</option>
                @for (lesson of lessons; track lesson.id) {
                  <option [value]="lesson.id">{{ lesson.lessonName }}</option>
                }

              </select>
            </div>

            <div class="row g-3">
              <div class="col-md-6">
                <label class="form-label">Soru Sayısı</label>
                <input type="number" class="form-control" formControlName="numberOfQuestion" min="1">
              </div>

              <div class="col-md-6">
                <label class="form-label">Başarı Oranı (%)</label>
                <input type="number" class="form-control" formControlName="successRate" min="0" max="100">
              </div>

              <div class="col-md-6">
                <label class="form-label">Süre (dk)</label>
                <input type="number" class="form-control" formControlName="allowedTime" min="1">
              </div>

              <div class="col-md-6">
                <label class="form-label">Açıklama</label>
                <input type="text" class="form-control" formControlName="description">
              </div>
            </div>

            <div class="mt-4 d-flex justify-content-between">
              <button class="btn btn-outline-secondary" type="button" (click)="goBack()">
                <i class="bi bi-arrow-left"></i> Geri
              </button>
              <button class="btn btn-primary" type="submit" [disabled]="!missionForm.valid">
                Görevi Oluştur
              </button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</section>
