<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
  <title>Neon Sun</title>
  <meta name="description" content="iOS Icon"/>
  <meta property="og:image" content="projects/project3.webp"/>
</head>

@if (child) {
  <section class="my-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-1 mb-5 mb-md-3">
            <div class="col-sm-4"><img class="img-fluid border rounded border-0 shadow-sm mb-4" alt="Profile Image"
                                       [src]="child.imageUrl"/></div>
            <div class="col-sm-8 order-sm-first order-lg-last">
              <h3 class="fs-5 fw-bold text-primary">Hey! {{child.firstName}}</h3>
              <p>Buradan Çocuklarınızın Profilini Detaylı Bir Şekilde Görüntüleyebilirsiniz.</p>
              <h3 class="fs-6 fw-bold text-primary">{{child.educationStatu}}</h3>
              <p>beanie&#64;example.com</p>
              <h3 class="fs-6 fw-bold text-primary">Social</h3>
            </div>
          </div>
        </div>
        <div class="col-lg-8 offset-lg-1">
          <div class="row mb-5">
            <div class="col"><a class="fw-bold link-primary d-flex align-items-center text-decoration-none mb-3" href="/">
              <svg class="bi bi-arrow-left-short me-1" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                   fill="currentColor" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                      d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5"></path>
              </svg>
              Back</a>
              <h1 class="fs-3 fw-bold"></h1>
              <p class="text-muted"></p>
            </div>
          </div>
        </div></div></div></section>
}
