<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


</head>
<body class="img js-fullheight" style="background-image: url(https://i.pinimg.com/736x/a4/ec/bc/a4ecbc68ec45e8a6852e243d4ac59cb1.jpg);">
<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center mb-5">
        <h2 class="heading-section">Çözdüğün Kadar Teknoloji</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-4">
        <div class="login-wrap p-0">
          <h3 class="mb-4 text-center">Kayıt Ol</h3>
          <form class="signin-form" [formGroup]="registerForm">
            <div class="form-group">
              <input type="text" class="form-control" formControlName="firstName" placeholder="İsim" required>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" formControlName="lastName" placeholder="Soyisim" required>
            </div>
            <div class="form-group">
              <input type="email" class="form-control" formControlName="email" placeholder="Email" required>
            </div>
            <div class="form-group">
              <input id="password-field" type="password" class="form-control" formControlName="password" placeholder="Password" required>
              <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" formControlName="phone" placeholder="Telefon No" required>
            </div>
            <div class="form-group">
              <button type="submit" class="form-control btn btn-primary submit px-3" (click)="register()">KAYIT OL</button>
            </div>
          </form>
          <p class="w-100 text-center">&mdash; Hesabınız Var mı ? &mdash;</p>
          <div class="social d-flex text-center">
            <a href="#" class="px-2 py-2 mr-md-1 rounded"><span class="ion-logo-facebook mr-2"></span> Giriş Yap</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>




